<!DOCTYPE html>
<html>
  <head>
    <title>Comprar</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Caveat"
      rel="stylesheet"
    />
  </head>


  <body class=" bg-white dark:bg-white dark:text-black">
    <header class="dark:bg-white">
      <%- include ('navbar.ejs') %>
    </header>
    <div class="fonte-cairo font-bold ml-10 mt-20 text-7xl">
      Comprar casas
    </div>
    <div class="fonte-cairo font-medium ml-10 mt-5 text-2xl">
      <h4>
        Explore nossa seleção de casas disponíveis para compra. Temos uma
        variedade de propriedades para atender às suas necessidades e
        preferências.
      </h4>
    </div>
    <div>
      <button id="btn-filtrar" class="ml-11 mt-2 w-48 h-12 bg-[#0077ff] hover:bg-[#0754ac] rounded-lg text-xl font-bold fonte-cairo border-[3px]  text-white">
        FILTROS
      </button>
      <form action="/comprar" method="post">
      <div id="menu-filtrar" class="my-5 grid justify-center items-center" style="display: none">
        <div
          class="flex ml-9 sm:h-8 md:h-10 lg:h-12 xl:h-14 2xl:h-16 sm:w-[500px] md:w-[600px] lg:w-[700px] xl:w-[900px] 2xl:w-[1100px] justify-center items-center rounded-full shadow-2xl bg-[#0098C8]"
        >
          <div>
            <select
              name="pais"
              id="pais"
              class="bg-[#00CFFF] border-[#84E8FF] text-black sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl ml-2 mr-2 my-2 sm:border-[1px] md:border-[2px] lg:border-[3px] xl:border-[4px] 2xl:border-[5px] sm:w-16 md:w-20 lg:w-24 xl:w-28 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
            >
              <option value="" selected>PAIS</option>
              <% paises.forEach(pais => { %>
                <option value="<%= pais %>"><%= pais %></option>
              <% }); %>
            </select>
          </div>
          <div>
            <select
              name="cidade"
              id="cidade"
              class="bg-[#00CFFF] border-[#84E8FF] text-black sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl ml-2 mr-2 my-2 sm:border-[1px] md:border-[2px] lg:border-[3px] xl:border-[4px] 2xl:border-[5px] sm:w-16 md:w-20 lg:w-24 xl:w-28 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
            >
              <option value="" selected>CIDADE</option>
              <% cidades.forEach(cidade => { %>
                <option value="<%= cidade %>"><%= cidade %></option>
              <% }); %>
            </select>
          </div>
          <div>
            <select
              name="area"
              id="area"
              class="bg-[#00CFFF] border-[#84E8FF] text-black sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl ml-2 mr-2 my-2 sm:border-[1px] md:border-[2px] lg:border-[3px] xl:border-[4px] 2xl:border-[5px] sm:w-16 md:w-20 lg:w-24 xl:w-28 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
            >
              <option value="" selected>AREA M2</option>
              <option value="area50">0 a 50 m2</option>
              <option value="area100">51 m2 a 100 m2</option>
              <option value="area150">101 m2 a 150 m2</option>
              <option value="area200">151 m2 a 200 m2</option>
              <option value="area250">201 m2 a 250 m2</option>
              <option value="area300">251 m2 a 300 m2</option>
              <option value="areamaior300">300+ m2</option>
            </select>
          </div>
          <div>
            <select
              name="preco"
              id="preco"
              class="bg-[#00CFFF] border-[#84E8FF] text-black sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl ml-2 mr-2 my-2 sm:border-[1px] md:border-[2px] lg:border-[3px] xl:border-[4px] 2xl:border-[5px] sm:w-16 md:w-20 lg:w-24 xl:w-28 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
            >
              <option value="" selected>PRECO</option>
              <option value="preco100">0 a 100.000€</option>
              <option value="preco200">100.000€ a 200.000€</option>
              <option value="preco300">200.000€ a 300.000€</option>
              <option value="preco500">300.000€ a 500.000€</option>
              <option value="precomais500">500.000€+</option>
            </select>
          </div>
          <div>
            <select
              name="acessibilidade"
              id="acessibilidade"
              class="bg-[#00CFFF] border-[#84E8FF] text-black sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl ml-2 mr-2 my-2 sm:border-[1px] md:border-[2px] lg:border-[3px] xl:border-[4px] 2xl:border-[5px] sm:w-16 md:w-20 lg:w-24 xl:w-28 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
            >
              <option value="" selected>ACESSIBILIDADE</option>
              <option value="true">Sim</option>
              <option value="false">Não</option>
            </select>
          </div>
          <div>
              <button
                type="submit"
                class="flex justify-center justify-items-center hover:bg-[#10102e] bg-[#002660] text-[#FFFFFF] shadow-lg ml-2 my-2 mr-2 rounded-full sm:w-5 md:w-10 lg:w-14 xl:w-24 2xl:w-32 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14"
              >
              <img class="imagemlupa my-2" src="../images/lupa.png" alt="Submit" />
              </button>

          </div>
        </div>
      </div>
      <div class="flex items-center text-xl ml-10 mt-4">
        <h4 class="mr-4">Ordenar por:</h4>
        <div class="flex items-center">
          <h4 class="px-1 py-1 bg-[#0077ff] text-white mr-1">
            <select class="px-1 py-1 bg-[#0077ff] text-white mr-1 fonte-cairo" name="ordenarPreco" id="ordenarPreco">
              <option value="ascendente" class="fonte-cairo">Preço: Ordem Ascendente</option>
              <option value="decrescente" class="fonte-cairo">Preço: Ordem Decrescente</option>
              </select>
             
          </h4>

        
        <button type="submit">
        <img
        id="seta"
          src="../images/seta.png"
          alt="seta"
          class="bg-[#0077ff] hover:bg-[#0754ac] w-16 h-16 mr-11 xl:w-8 xl:h-8 xl:mr-9 lg:w-9 lg:h-9 lg:mr-9 md:w-9 md:h-9 md:mr-9"
          style="rotate: 270deg; display: block;"
        />
        </button>
      </form>
        </div>
      </div>
    </div>
    <div class="text-3xl font-bold text-red-700 text-center mt-5">
        <%= title %>
      </div>
      <div class="mb-4"></div>
      <div
        class="gap-y-4 justify-items-center grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 text-1xl xl:text-2xl lg:text-2xl md:text-2xl sm:text-1xl"
      >
        <% todascasas.forEach(todascasas=> { %>
        <div class="text-white dark:text-white card w-96 bg-[#002660] mb-3 mt-3 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              src="<%= todascasas.imagensCasa[0] %>"
              alt="Shoes"
              class="rounded-xl w-72 h-72"
            />
          </figure>
          <div class="card-body items-center text-center">
            <div class=" text-4xl font-extrabold fonte-cairo"><%= todascasas.nomeImovel %></div>
            <div class="text-2xl font-semibold">Localização :</div> 
            <div class="inline-flex items-baseline">            
              <div class="text-3xl font-bold fonte-cairo" ><%= todascasas.cidade%> , </div> 
              <div class="text-2xl font-semibold fonte-cairo"><%= todascasas.pais%></div>
            </div>
            <div class="inline-flex items-center">  
              <div class="text-2xl font-semibold" >Preço :</div>
              <div class="text-4xl font-extrabold fonte-cairo"> <%= todascasas.preco%>€</div>
            </div>
            <div class="card-actions mt-4 justify-center">
              <a href="/comprar/finalizarcompra?casaid=<%= todascasas.id %>">
                <button class="w-40 h-14 bg-[#00C2FF] hover:bg-[#0e98c2] hover:border-[#1b6a82] text-2xl font-bold fonte-cairo text-white border-[3px] rounded-full border-[#157694]">Comprar</button>
              </a>
              <a href="/comprar/detalhescomprar?casaid=<%= todascasas.id %>">
                <button class="w-48 h-12 bg-[#0077ff] hover:bg-[#0754ac] text-xl font-bold fonte-cairo border-[3px]  border-white">Ver mais detalhes</button>
              </a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="mt-10"></div>
  </body>
  <script>
    const btnFiltrar = document.getElementById('btn-filtrar');
    const menuFiltrar = document.getElementById('menu-filtrar');
    const seta = document.getElementById('seta');

    btnFiltrar.addEventListener('click', () => {
      if (menuFiltrar.style.display === 'none') {
        menuFiltrar.style.display = 'block';
      } else {
        menuFiltrar.style.display = 'none';
      }
      if (seta.style.display === 'block') {
        seta.style.display = 'none';
      } else {
        seta.style.display = 'block';
      }
    });
    document.querySelector('.imagemlupa').addEventListener('click', function() {
  const selectedPais = document.getElementById('pais').value;
  const selectedCidade = document.getElementById('cidade').value;
  const selectedArea = document.getElementById('area').value;
  const selectedPreco = document.getElementById('preco').value;
  const selectedAcessibilidade = document.getElementById('acessibilidade').value;

  document.getElementById('paisHidden').value = selectedPais;
  document.getElementById('cidadeHidden').value = selectedCidade;
  document.getElementById('areaHidden').value = selectedArea;
  document.getElementById('precoHidden').value = selectedPreco;
  document.getElementById('acessibilidadeHidden').value = selectedAcessibilidade;
});
  </script>
  <% if (todascasas.length==0) { %>
    <footer class="fixed left-0 bottom-0 w-full">
      <%- include ('footer.ejs') %>
    </footer>
    <% } else { %>
    <footer><%- include ('footer.ejs') %></footer>
    <% } %>
  </html>  